body {
    background-color: #0b032d;
    background-image: url("./static/overview-bg.png");
    background-size: 2000px;
    background-repeat: no-repeat;
}

p {
    font-size: 1em;
    line-height: 1.75em;
}

h2 {
    color: #f42272;
    padding-bottom: 20px;
}

strong {
    color: #efecfd;
}

.menu {
    font-weight: bold;
    background: #f42272;
    width: 160px;
    height: 100%;
    padding-left: 70px;
    position: fixed;
    z-index: 100;
    -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    right: -130px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    color: #f3b9c5;
}

.menu:hover, .menu:focus {
    transform: translate3d(-130px, 0, 0);
}

.menu .title {
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: rotate(270deg);
    left: -10px;
    font-weight: 800;
    font-size: 15px;
}

.menu .nav {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 100;
}

.menu .nav p {
    padding-bottom: 30px;
    font-weight: bold;
}

.menu .nav p a {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.menu .nav p a:hover {
    color: #0b032d;
}

.row {
    padding-bottom: 40px;
}

#overview {
    text-align: justify;
    padding-top: 40px;
    color: #efecfd;
}

.img-center {
    text-align: center;
    width: 100%;
}

#overview h4 {
    padding-top: 10px;
    text-align: center;
    color: #f42272;
}

h5 {
    margin: 30px 0px 30px 0px;
    padding: 10px;
    background-color: #f42272;
    color: #efecfd;
    display: inline-flex;
    font-weight: normal;
}

.dates {
    margin: auto;
    padding: 10px;
    background-color: #f42272;
    color: #efecfd;
    display: inline-flex;
    font-weight: normal;
}

.dates h6 {
    padding-right: 20px;
    padding-top: 20px;
    margin: auto;
    font-weight: bolder;
    font-size: larger;
}

.btn {
    padding: 20px;
    background-color: #0b032d;
    color: #efecfd;
    border: none;
}

.btn:hover {
    background-color: #efecfd;
    color: #0b032d;
}

.viewWith1Col img, h5 {
    margin: 10px auto 20px auto;
}

.viewWith1Col p {
    padding: 0px 20px;
}

.info {
    padding-top: 30px;
}

#agenda {
    margin: auto;
    padding: 30px 20px 30px 0px;
    text-align: justify;
    color: #efecfd;
}

#agenda .comment p {
    margin-bottom: 30px;
}

#agenda .session {
    border-top: 3px solid;
    border-image: linear-gradient(to right, #efecfd 0%, #f42272 100%) 1;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
}

#agenda .session:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
}

#agenda .session:nth-child(odd)::before {
    left: 100%;
    margin-left: -20px;
}

#agenda .session:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;
}

#agenda .session:nth-child(even)::before {
    right: 100%;
    margin-right: -20px;
}

#agenda .session:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#agenda .session:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.extra {
    color: #f88cb2;
}

.extra .extratext {
    visibility: hidden;
    width: 410px;
    background-color: #f42272;
    color: #fff;
    text-align: justify;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.extra:hover {
    color: #f42272;
}

.extra:hover .extratext {
    visibility: visible;
}

.extratext {
    padding: 10px;
}

#coach {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 130px, #f42272 130px);
    color: #efecfd;
    padding: 30px 20px;
    margin: auto;
    width: 75%;
}

#coach img {
    border-radius: 50%;
}

#coach h4 {
    padding-top: 20px;
    color: #efecfd;
}

#coach p {
    text-align: justify;
}

#coach a {
    color: #f3b9c5;
    text-decoration: none;
}

#coach a:hover {
    color: #f88cb2;
}

#get-tickets {
    margin: 30px auto;
    text-align: center;
    color: #efecfd;
}

#get-tickets h1 {
    margin-bottom: 30px;
}

#get-tickets a {
    color: #f88cb2;
    text-decoration: none;
}

#get-tickets a:hover {
    color: #f42272;
}

#get-tickets p {
    margin-top: 30px;
}

#tito .tito-wrapper {
    border: 3px solid;
    border-image: linear-gradient(to right, #efecfd 0%, #f42272 100%) 1;
    width: 90%;
}

#tito .tito-ticket.row {
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #efecfd 0%, #f42272 100%) 1;
}

#tito .tito-ticket-name {
    color: #f42272;
}

#tito .tito-ticket-description, .tito-ticket-price, .tito-badge-link, .tito-ticket-quantity, .tito-degressive-price-desc {
    color: #efecfd;
}

#tito .tito-ticket-vat {
    color: #f3b9c5;
}

#tito .tito-submit {
    background-color: #f42272 !important;
    color: #efecfd !important;
    border: none !important;
}

#tito .tito-submit:hover {
    background-color: #efecfd !important;
    color: #0b032d !important;
}

#footnote {
    margin-top: 30px;
    flex-shrink: 0;
}

#footnote img {
    padding-right: 20px;
}

#footnote p {
    color: #efecfd;
    font-size: 12px;
    padding: 0px 15px;
}

#footnote a {
    color: #f88cb2;
    text-decoration: none;
}

#footnote a:hover {
    color: #f42272;
}

#footnote .btn {
    padding: 20px;
    background-color: #f42272;
    color: #efecfd;
    border: none;
}

#footnote .btn:hover {
    background-color: #efecfd;
    color: #0b032d;
}

.contact-form {
    background-color: #f42272;
    padding: 30px;
    color: #efecfd;
}

#success-alert {
    -webkit-animation: cssAnimation 5s forwards;
    animation: cssAnimation 5s forwards;
}

@keyframes cssAnimation {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes cssAnimation {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#coc {
    border: none;
    color: #efecfd;
    background-color: #f42272;
    padding: 0px 30px 30px 30px;
    width: 70%;
    margin: 60px auto;
    text-align: justify;
}

#coc h5 {
    background-color: #0b032d;
    color: #efecfd;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #overview .viewWith2Cols {
        display: none;
    }

    #overview .viewWith1Col {
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    #overview .viewWith1Col {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #footnote .footnoteMobileView {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    #overview .viewWith1Col, .react-parallax-content {
        display: none;
    }

    body {
        padding-right: 40px;
    }

    #overview .viewWith2Cols {
        text-align: center;
    }

    .col-md-4 {
        margin-bottom: 20px;
    }

    .row {
        padding-bottom: 30px;
    }

    .info #agenda {
        padding-top: 0;
    }

    #footnote .footnoteNotMobileView {
        display: none;
    }

    #footnote {
        text-align: center;
    }

    #footnote .footnoteMobileView .sendEmail {
        margin-bottom: 40px;
    }

    #footnote .footnoteMobileView p {
        margin-bottom: 10px;
    }

    #footnote .footnoteMobileView .links {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1001px) {
    .w-50 {
        width: 60%;
    }
}

@media screen and (max-width: 1000px) {
    .w-50 {
        width: 70%;
    }
}

@media screen and (max-width: 425px) {
    body {
        padding-right: 0;
    }

    #overview .col-md-5 img {
        width: 100%;
    }
}


